@use "../../functions/functions";
@use "../../mixins/mixins";
@use "../../variables/variables";

body {
  font-family: variables.$font-inter-tight;
  color: variables.$color-4b5563;

  .scroll-lock & {
    overflow: hidden;
  }

  @media (max-width: 1024px) {
    font-size: 14px;
  }
}
