@use "../../variables/variables";

.container {
  --padding-inline: #{variables.$padding + px};

  padding-inline: max((100cqi - #{variables.$inner + px}) / 2, var(--padding-inline));

  @media (min-width: #{480 + 0.1px}) {
    --padding-inline: 20px;
  }

  @media (min-width: #{1200 + 0.1px}) {
    --padding-inline: 80px;
  }
}
