@use "../../functions/functions";
@use "../../mixins/mixins";
@use "../../variables/variables";

.footer {
  background-color: variables.$color-section-background;
}

.footer-top {
  display: grid;
  align-items: end;
  row-gap: 40px;
  column-gap: 23px;
  padding-block: 50px;
  border-block-end: 1px solid variables.$color-eaeaea;

  @media (min-width: #{480 + 0.1px}) {
    row-gap: 30px;
  }

  @media (min-width: #{768 + 0.1px}) {
    row-gap: 53px;

    @media (max-width: 1024px) {
      grid-template-columns: repeat(3, auto);
      justify-content: space-between;
    }
  }

  @media (min-width: #{1024 + 0.1px}) {
    row-gap: 50px;
  }

  @media (min-width: #{1200 + 0.1px}) {
    grid-template-columns: auto 1fr;
  }

  @media (min-width: #{1440 + 0.1px}) {
    column-gap: 48px;
  }

  // .footer-top__logo
  &__logo {
    @media (min-width: #{768 + 0.1px}) {
      @media (max-width: 1200px) {
        order: 1;
      }

      @media (max-width: 1024px) {
        grid-column: span 2;
        inline-size: fit-content;
        margin-inline-start: auto;
      }
    }
  }

  // .footer-top__inner
  &__inner {
    display: flex;
    gap: 40px;

    @media (min-width: #{480 + 0.1px}) {
      gap: 30px;
    }

    @media (min-width: #{768 + 0.1px}) {
      align-items: start;
      justify-content: space-between;
      gap: 23px;

      @media (max-width: 1024px) {
        display: contents;
      }
    }

    @media (max-width: 768px) {
      flex-direction: column;
    }
  }

  // .footer-top__nav
  &__nav {
    @media (min-width: #{768 + 0.1px}) {
      display: contents;
    }
  }

  // .footer-top__address
  &__address {
    @media (min-width: #{768 + 0.1px}) {
      display: contents;
    }
  }
}

.footer-logo {
  display: flex;
  align-items: start;
  gap: 9px;

  @media (min-width: #{1200 + 0.1px}) {
    flex-direction: column;
  }

  @media (max-width: 1024px) {
    flex-direction: column;
  }

  // .footer-logo__image
  &__image {
    flex: 0 0 auto;
    inline-size: 69.12px;
    aspect-ratio: 69.12 / 70;
    font-size: 0;

    img {
      object-fit: contain;
    }
  }

  // .footer-logo__text
  &__text {
    display: flex;
    flex-direction: column;
    gap: 3px;
  }

  // .footer-logo__label
  &__label {
    font-weight: 700;
    font-size: 20px;
    color: variables.$color-404040;
  }

  // .footer-logo__industry
  &__industry {
    font-weight: 500;
    font-size: 12px;
  }
}

.footer-nav {
  // .footer-nav__inner
  &__inner {
    display: flex;
    align-items: start;
    gap: 16px;

    @media (min-width: #{480 + 0.1px}) {
      gap: 52px;
    }

    @media (min-width: #{768 + 0.1px}) {
      display: contents;
    }
  }

  // .footer-nav__column
  &__column {
  }

  // .footer-nav__title
  &__title {
    margin-block-end: 15px;

    @media (min-width: #{480 + 0.1px}) {
      margin-block-end: 20px;
    }
  }

  // .footer-nav__list
  &__list {
  }

  // .footer-nav__item
  &__item {
    &:not(:last-child) {
      margin-block-end: 15px;
    }
  }

  // .footer-nav__link
  &__link {
    display: inline-block;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: -0.01em;
    text-wrap: balance;

    @include mixins.prefers-reduced-motion {
      transition-property: color;
      transition-duration: 0.3s;
    }

    @include mixins.hover {
      color: variables.$color-hover;
    }

    @media (min-width: #{768 + 0.1px}) {
      white-space: nowrap;
    }
  }
}

.footer-label {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 5px;
  font-size: 16px;
  font-weight: 600;
  color: variables.$color-404040;

  // .footer-label__text
  &__text {
  }

  // .footer-label__caption
  &__caption {
    display: flex;
    justify-content: center;
    align-items: center;
    min-block-size: 22px;
    padding-block: 3px;
    padding-inline: 10px;
    font-weight: 400;
    font-size: 12px;
    text-align: center;
    color: variables.$color-4b5563;
    background-color: variables.$color-white;
    border-radius: 30px;
  }
}

.footer-address {
  // .footer-address__list
  &__list {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 40px;

    @media (min-width: #{480 + 0.1px}) {
      gap: 30px;
    }

    @media (min-width: #{768 + 0.1px}) {
      display: contents;
    }
  }

  // .footer-address__item
  &__item {
  }

  // .footer-address__column
  &__column {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 40px;

    @media (min-width: #{480 + 0.1px}) {
      gap: 30px;
    }

    @media (min-width: #{768 + 0.1px}) {
      gap: 16px;
    }
  }

  // .footer-address__block
  &__block {
  }

  // .footer-address__title
  &__title {
    margin-block-end: 20px;

    &:has(.footer-label__caption) {
      @media (max-width: 480px) {
        margin-block-end: 15px;
      }
    }

    // .footer-address__title--narrow
    &--narrow {
      margin-block-end: 15px;

      @media (min-width: #{480 + 0.1px}) {
        margin-block-end: 10px;
      }
    }
  }

  // .footer-address__inner
  &__inner {
    display: flex;
    flex-direction: column;
    align-items: start;

    > *:last-child {
      margin-block-end: 0;
    }
  }

  // .footer-address__link
  &__link {
    display: inline-block;
    max-inline-size: 285px;
    font-weight: 500;
    font-size: 14px;

    &:not(:last-child) {
      margin-block-end: 15px;
    }

    @include mixins.prefers-reduced-motion {
      transition-property: color;
      transition-duration: 0.3s;
    }

    @include mixins.hover {
      color: variables.$color-hover;
    }

    br {
      @media (max-width: 768px) {
        display: none;
      }
    }
  }

  // .footer-address__tel
  &__tel {
    margin-block-end: 20px;
    font-weight: 700;
    font-size: 20px;
    white-space: nowrap;

    @include mixins.prefers-reduced-motion {
      transition-property: color;
      transition-duration: 0.3s;
    }

    @include mixins.hover {
      color: variables.$color-hover;
    }
  }
}

.footer-bottom {
  display: flex;
  row-gap: 10px;
  column-gap: 33px;
  padding-block: 17px 23px;
  color: variables.$color-bbbbbb;

  @media (min-width: #{480 + 0.1px}) {
    align-items: center;
    padding-block-end: 16px;
  }

  @media (max-width: 480px) {
    flex-direction: column;
  }

  // .footer-bottom__item
  &__item {
    font-weight: 500;
    font-size: 12px;

    &[href] {
      @include mixins.prefers-reduced-motion {
        transition-property: color;
        transition-duration: 0.3s;
      }

      @include mixins.hover {
        color: variables.$color-hover;
      }
    }

    // .footer-bottom__item--narrow
    &--narrow {
      font-family: variables.$font-inter;
      letter-spacing: -0.01em;
    }

    @media (min-width: #{480 + 0.1px}) {
      font-size: 14px;
    }
  }
}
