<header class="header" id="header" data-header="header" data-burger="wrapper">
  <div class="header__wrapper container" data-header="wrapper">
    <div class="header__reward responsive-media">
      <img src="@img/icons/header/1.png" alt="Лучшее предприятие отрасли 2024">
    </div>
    <div class="header__logo header-logo">
      <a class="header-logo__inner" href="/" @@if (page==="index" ) { aria-current="page" } aria-label="Главная">
        <span class="header-logo__image responsive-media">
          <img src="@img/logo.png" alt="">
        </span>
        <span class="header-logo__text">
          <span class="header-logo__label">СВОИ ОКНА</span>
          <span class="header-logo__industry">Производственная&nbsp;компания<br>только&nbsp;для&nbsp;дилеров&nbsp;и&nbsp;строителей</span>
        </span>
      </a>
    </div>
    <div class="header-nav" data-burger="menu">
      <div class="header-nav__top">
        <button class="header-nav__close" data-burger="close">
          <svg width="24" height="24" aria-hidden="true">
            <use xlink:href="#icon-close"></use>
          </svg>
        </button>
      </div>
      <nav class="header-nav__inner" aria-label="Главная навигация">
        <ul class="header-nav__list" data-spoilers data-breakpoint="1200">
          <li class="header-nav__item header-spoilers spoiler-active">
            <button class="header-spoilers__button header-link" data-spoiler="button">
              <span class="header-link__icon header-link__icon--pc" aria-hidden="true">
                <svg width="16" height="16">
                  <use xlink:href="#icon-catalog"></use>
                </svg>
              </span>
              <span class="header-link__text">Каталог</span>
              <span class="header-link__icon header-link__icon--mobile" aria-hidden="true">
                <svg width="6" height="4">
                  <use xlink:href="#icon-down"></use>
                </svg>
              </span>
            </button>
            <div class="header-spoilers__region" data-spoiler="region">
              <ul class="header-sublinks">
                <li class="header-sublinks__item">
                  <a class="header-sublinks__link" href="#" @@if (page==="plastic-windows" ) { aria-current="page" }>Пластиковые окна</a>
                </li>
                <li class="header-sublinks__item">
                  <a class="header-sublinks__link" href="#" @@if (page==="aluminum-windows" ) { aria-current="page" }>Алюминиевые окна</a>
                </li>
                <li class="header-sublinks__item">
                  <a class="header-sublinks__link" href="#" @@if (page==="plastic-doors" ) { aria-current="page" }>Пластиковые двери</a>
                </li>
                <li class="header-sublinks__item">
                  <a class="header-sublinks__link" href="#" @@if (page==="aluminum-entrances" ) { aria-current="page" }>Алюминиевые входные группы</a>
                </li>
                <li class="header-sublinks__item">
                  <a class="header-sublinks__link" href="#" @@if (page==="glazing" ) { aria-current="page" }>Остекление балконов</a>
                </li>
              </ul>
            </div>
          </li>
          <li class="header-nav__item">
            <a class="header-link" href="#" @@if (page==="production" ) { aria-current="page" }>Производство</a>
          </li>
          <li class="header-nav__item">
            <a class="header-link" href="#" @@if (page==="partners" ) { aria-current="page" }>Партнеры</a>
          </li>
          <li class="header-nav__item">
            <a class="header-link" href="#" @@if (page==="cooperation" ) { aria-current="page" }>Дилерам и строителям</a>
          </li>
          <li class="header-nav__item">
            <a class="header-link" href="#" @@if (page==="contacts" ) { aria-current="page" }>Контакты</a>
          </li>
        </ul>
      </nav>
      <div class="header-nav__bottom">
        <div class="nav-logo">
          <span class="nav-logo__image responsive-media">
            <img src="@img/logo.png" alt="">
          </span>
          <span class="nav-logo__text">
            <span class="nav-logo__label">СВОИ ОКНА</span>
            <span class="nav-logo__industry">Производство и продажа пластиковых&#32;<br>окон, алюминиевых конструкций с&#32;<br>доставкой по РФ</span>
          </span>
        </div>
        <ul class="socials socials--narrow-gap">
          <li class="socials__item">
            <a class="socials__link socials__link--green" href="#" target="_blank" rel="noopener noreferrer" aria-label="WhatsApp">
              <svg width="20" height="20" aria-hidden="true">
                <use xlink:href="#icon-whatsapp"></use>
              </svg>
            </a>
          </li>
          <li class="socials__item">
            <a class="socials__link socials__link--cyan" href="#" target="_blank" rel="noopener noreferrer" aria-label="Telegram">
              <svg width="20" height="17" aria-hidden="true">
                <use xlink:href="#icon-telegram"></use>
              </svg>
            </a>
          </li>
          <li class="socials__item">
            <a class="socials__link socials__link--blue" href="mailto:#" aria-label="Email">
              <svg width="20" height="16" aria-hidden="true">
                <use xlink:href="#icon-mail"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <ul class="header__socials socials socials--narrow-gap">
      <li class="socials__item">
        <a class="socials__link socials__link--green" href="#" target="_blank" rel="noopener noreferrer" aria-label="WhatsApp">
          <svg width="20" height="20" aria-hidden="true">
            <use xlink:href="#icon-whatsapp"></use>
          </svg>
        </a>
      </li>
      <li class="socials__item">
        <a class="socials__link socials__link--cyan" href="#" target="_blank" rel="noopener noreferrer" aria-label="Telegram">
          <svg width="20" height="17" aria-hidden="true">
            <use xlink:href="#icon-telegram"></use>
          </svg>
        </a>
      </li>
      <li class="socials__item">
        <a class="socials__link socials__link--blue" href="mailto:#" aria-label="Email">
          <svg width="20" height="16" aria-hidden="true">
            <use xlink:href="#icon-mail"></use>
          </svg>
        </a>
      </li>
    </ul>
    <button class="burger-button" data-burger="open">
      <svg width="18" height="12" aria-hidden="true">
        <use xlink:href="#icon-burger"></use>
      </svg>
    </button>
  </div>
</header>
