$color-white: #fff;
$color-black: #000;

$color-hover: #3d62eb;
$color-section-background: #f7fcff;

$color-4b5563: #4b5563;
$color-3d62eb: #3d62eb;
$color-f3f7fb: #f3f7fb;
$color-374152: #374152;
$color-0ec144: #0ec144;
$color-f1faf1: #f1faf1;
$color-249fe1: #249fe1;
$color-ebf6fe: #ebf6fe;
$color-2a3ad9: #2a3ad9;
$color-e8ecff: #e8ecff;
$color-f7fcff: #f7fcff;
$color-eaeaea: #eaeaea;
$color-404040: #404040;
$color-bbbbbb: #bbbbbb;
$color-f3faff: #f3faff;
$color-f81255: #f81255;
$color-ececec: #ececec;
$color-d8dffb: #d8dffb;
$color-2e2e2e: #2e2e2e;
$color-aabdf7: #aabdf7;
$color-fafcfe: #fafcfe;
$color-5c7cee: #5c7cee;
$color-dedede: #dedede;
