@use "../../../functions/functions";
@use "../../../mixins/mixins";
@use "../../../variables/variables";

.advantages {
  padding-block: 50px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 895 708'%3E%3Cpath fill='%233D62EB' fill-opacity='.03' d='M542.07 8.53a2 2 0 0 1 2.82 0l348.6 348.6a2 2 0 0 1 0 2.83L547.03 706.44a2 2 0 0 1-2.83 0l-348.6-348.6a2 2 0 0 1 0-2.83L542.07 8.53ZM347.12.59a2 2 0 0 1 2.83 0l60.67 60.65a2 2 0 0 1 0 2.82L127.6 347.01a2 2 0 0 0 0 2.83L412.75 634.9a2 2 0 0 1 0 2.83l-60.68 60.65a2 2 0 0 1-2.82 0L.59 349.84a2 2 0 0 1 0-2.83L347.13.6Zm106.31 487.57 89.1 89.1 222.74-222.74-89.1-89.1-222.74 222.74ZM322.56 359.04l82.02 82.02 80.62-80.61-82.03-82.02-80.61 80.6ZM448 227.59l82.03 82.03 96.17-96.17-82.03-82.02L448 227.59Z'/%3E%3C/svg%3E");
  background-position: top -22px right -180.46px;
  background-repeat: no-repeat;
  background-size: 461.46px 364.8px;

  @media (min-width: #{480 + 0.1px}) {
    background-position: top -51px right -312.61px;
    background-size: 687.61px 543.68px;
  }

  @media (min-width: #{768 + 0.1px}) {
    background-position: top -105.83px right -306.74px;
  }

  @media (min-width: #{1024 + 0.1px}) {
    background-position: top -105px right -281.08px;
    background-size: 894.08px 707.03px;
  }

  @media (min-width: #{1200 + 0.1px}) {
    background-position: top -100.42px right -333.91px;
  }

  @media (min-width: #{1440 + 0.1px}) {
    background-position: top -100.42px right -93.91px;
  }

  // .advantages__title
  &__title {
    margin-block-end: 30px;
  }
}

.advantages-list {
  display: grid;
  row-gap: 15px;
  column-gap: 42px;
  color: variables.$color-404040;

  @media (min-width: #{768 + 0.1px}) {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 26px;
  }

  @media (min-width: #{1024 + 0.1px}) {
    grid-template-columns: repeat(3, 1fr);
  }

  @media (min-width: #{1200 + 0.1px}) {
    grid-template-columns: repeat(6, 1fr);
    column-gap: 20px;
  }

  @media (min-width: #{1440 + 0.1px}) {
    column-gap: 25px;
  }

  // .advantages-list__item
  &__item {
    display: flex;
    align-items: center;
    gap: 10px;

    @media (min-width: #{1200 + 0.1px}) {
      flex-direction: column;
      align-items: start;
      gap: 20px;
    }
  }

  // .advantages-list__icon
  &__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0 0 auto;
    inline-size: 40px;
    aspect-ratio: 40 / 50;
    font-size: 0;
    color: variables.$color-hover;
    background-color: variables.$color-e8ecff;
    border-radius: 5px;

    @media (min-width: #{480 + 0.1px}) {
      inline-size: 60px;
      aspect-ratio: 1 / 1;
    }

    svg {
      @media (min-width: #{480 + 0.1px}) {
        width: 30px;
        height: 30px;
      }
    }
  }

  // .advantages-list__content
  &__content {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 5px;

    @media (min-width: #{480 + 0.1px}) {
      gap: 10px;
    }
  }

  // .advantages-list__label
  &__label {
    font-weight: 700;
    font-size: 16px;

    @media (min-width: #{1200 + 0.1px}) {
      font-size: 18px;
    }

    @media (min-width: #{1440 + 0.1px}) {
      font-size: 20px;
    }
  }

  // .advantages-list__text
  &__text {
    font-size: 14px;
    text-wrap: balance;

    @media (min-width: #{1440 + 0.1px}) {
      font-size: 16px;
    }
  }
}
