@use "../../../functions/functions";
@use "../../../mixins/mixins";
@use "../../../variables/variables";

.documents {
  padding-block: 10px 25px;

  @media (min-width: #{480 + 0.1px}) {
    padding-block-start: 25px;
  }

  // .documents__inner
  &__inner {
    position: relative;
    isolation: isolate;
  }

  // .documents__arrows
  &__arrows {
    position: absolute;
    inset-block-start: 50%;
    inset-inline: 0;
    z-index: 2;
    transform: translateY(-50%);
    pointer-events: none;
  }
}

.documents-slider {
  inline-size: calc(100% - 40px);
  margin-inline: auto;
  border-radius: 8px;

  @media (min-width: #{480 + 0.1px}) {
    inline-size: calc(100% - 26px);
  }

  @media (min-width: #{768 + 0.1px}) {
    inline-size: calc(100% - 20px);
  }

  @media (min-width: #{1440 + 0.1px}) {
    inline-size: calc(100% - 36px);
  }

  // .documents-slider__wrapper
  &__wrapper {
  }

  // .documents-slider__slide
  &__slide {
    aspect-ratio: 226 / 323;
    font-size: 0;
    border: 0.81px solid variables.$color-e8ecff;
    border-radius: 8px;
  }
}
