@use "../../../functions/functions";
@use "../../../mixins/mixins";
@use "../../../variables/variables";

.documents {
  padding-block: 25px;

  // .documents__inner
  &__inner {
    position: relative;
    isolation: isolate;
  }

  // .documents__arrows
  &__arrows {
    position: absolute;
    inset-block-start: 50%;
    inset-inline: -20px;
    z-index: 2;
    transform: translateY(-50%);
    pointer-events: none;
  }
}

.documents-slider {
  border-radius: 8px;

  // .documents-slider__wrapper
  &__wrapper {
  }

  // .documents-slider__slide
  &__slide {
    aspect-ratio: 226 / 323;
    font-size: 0;
    border: 0.81px solid variables.$color-e8ecff;
    border-radius: 8px;
  }
}
