@use "../../../functions/functions";
@use "../../../mixins/mixins";
@use "../../../variables/variables";

.hero {
  position: relative;
  isolation: isolate;
  padding-block: 50px;
  background-color: variables.$color-f3faff;

  @media (min-width: #{768 + 0.1px}) {
    padding-block-start: 60px;
  }

  @media (min-width: #{1200 + 0.1px}) {
    padding-block-start: 25px;
  }

  // .hero__inner
  &__inner {
    display: grid;
    align-items: end;
    gap: 30px;

    @media (min-width: #{480 + 0.1px}) {
      gap: 20px;
    }

    @media (min-width: #{768 + 0.1px}) {
      gap: 30px;
    }

    @media (min-width: #{1024 + 0.1px}) {
      grid-template-columns: 1fr 407px;
      gap: 20px;
    }

    @media (min-width: #{1200 + 0.1px}) {
      grid-template-columns: 1fr 460px;
      gap: 23px;
    }

    @media (min-width: #{1440 + 0.1px}) {
      grid-template-columns: 1fr 520px;
      gap: 17px;
    }
  }

  // .hero__content
  &__content {
    display: flex;
    flex-direction: column;
    gap: 30px;

    @media (min-width: #{480 + 0.1px}) {
      gap: 20px;
    }

    @media (min-width: #{768 + 0.1px}) {
      gap: 30px;
    }

    @media (min-width: #{1024 + 0.1px}) {
      gap: 50px;
    }

    @media (min-width: #{1200 + 0.1px}) {
      gap: 53px;
    }

    @media (min-width: #{1440 + 0.1px}) {
      gap: 106px;
    }

    @media (max-width: 1024px) {
      order: 1;
    }
  }

  // .hero__main
  &__main {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 10px;

    @media (min-width: #{480 + 0.1px}) {
      gap: 20px;
    }

    > *:last-child {
      margin-block-end: 0;
    }
  }

  // .hero__title
  &__title {
    font-weight: 800;
    font-size: 32px;
    line-height: 1.2;
    letter-spacing: -0.01em;
    text-wrap: balance;
    color: variables.$color-404040;

    @media (min-width: #{480 + 0.1px}) {
      font-size: 35px;
    }

    @media (min-width: #{1200 + 0.1px}) {
      font-size: 45px;
    }

    @media (min-width: #{1440 + 0.1px}) {
      font-size: 50px;
    }

    @media (max-width: 480px) {
      margin-block-end: 5px;
    }
  }

  // .hero__text
  &__text {
    font-size: 18px;

    @media (min-width: #{768 + 0.1px}) {
      max-inline-size: 514px;
    }

    @media (min-width: #{1200 + 0.1px}) {
      max-inline-size: 394px;
      font-size: 20px;
    }

    @media (max-width: 480px) {
      margin-block-end: 20px;
    }
  }

  // .hero__buttons
  &__buttons {
    display: grid;
    align-items: center;
    gap: 5px;
    inline-size: 100%;

    @media (min-width: #{768 + 0.1px}) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media (min-width: #{1024 + 0.1px}) {
      display: flex;
      flex-wrap: wrap;
    }
  }

  // .hero__button
  &__button {
    // .hero__button--blue
    &--blue {
      @media (min-width: #{1024 + 0.1px}) {
        --button-width: 315px;
      }
    }

    // .hero__button--white
    &--white {
      @media (min-width: #{1024 + 0.1px}) {
        --button-width: 343px;
      }
    }
  }

  // .hero__advantages
  &__advantages {
    @media (min-width: #{768 + 0.1px}) {
      max-inline-size: 487px;
    }

    @media (min-width: #{1200 + 0.1px}) {
      max-inline-size: 580px;
    }

    @media (max-width: 1024px) {
      inline-size: fit-content;
      margin-inline: auto;
    }
  }

  // .hero__background
  &__background {
    position: absolute;
    inset: 0;
    z-index: -1;
    font-size: 0;
    opacity: 0.03;
    pointer-events: none;
  }
}

.hero-location {
  display: flex;
  align-items: center;
  gap: 5px;
  min-block-size: 34px;
  padding-block: 5px;
  padding-inline: 10px;
  font-size: 18px;
  text-align: center;
  border-radius: 5px;
  background-color: variables.$color-white;

  @media (min-width: #{1200 + 0.1px}) {
    font-size: 20px;
  }

  // .hero-location__icon
  &__icon {
    flex: 0 0 auto;
    font-size: 0;
  }

  // .hero-location__text
  &__text {
  }
}

.hero-advantages {
  display: flex;
  gap: 20px;

  @media (min-width: #{480 + 0.1px}) {
    gap: 31px;
  }

  @media (max-width: 768px) {
    flex-wrap: wrap;
  }

  // .hero-advantages__item
  &__item {
    display: flex;
    flex-direction: column;
    align-items: start;

    > *:last-child {
      margin-block-end: 0;
    }
  }

  // .hero-advantages__icon
  &__icon {
    margin-block-end: 15px;
    flex: 0 0 auto;
    font-size: 0;
    color: variables.$color-f81255;
  }

  // .hero-advantages__label
  &__label {
    flex: 1 1 auto;
    margin-block-end: 10px;
    font-weight: 700;
    font-size: 18px;
    color: variables.$color-404040;

    @media (min-width: #{1200 + 0.1px}) {
      font-size: 20px;
    }
  }

  // .hero-advantages__text
  &__text {
    text-wrap: balance;

    @media (min-width: #{768 + 0.1px}) {
      max-inline-size: 206px;
    }

    @media (min-width: #{1200 + 0.1px}) {
      max-inline-size: 260px;
    }
  }
}

.hero-video {
  block-size: 220px;
  padding: 15px;
  font-size: 0;
  border-radius: 30px;

  @media (min-width: #{480 + 0.1px}) {
    block-size: 350px;
  }

  @media (min-width: #{768 + 0.1px}) {
    block-size: 390px;
  }

  @media (min-width: #{1024 + 0.1px}) {
    block-size: 516px;
  }

  @media (min-width: #{1200 + 0.1px}) {
    block-size: 650px;
  }

  @media (min-width: #{1440 + 0.1px}) {
    padding: 20px;
  }

  // .hero-video__play
  &__play {
    position: absolute;
    inset-block-start: 50%;
    inset-inline-start: 50%;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    inline-size: 40px;
    aspect-ratio: 1 / 1;
    font-size: 0;
    color: variables.$color-hover;
    background-color: variables.$color-white;
    border-radius: 50%;
    transform: translate(-50%, -50%);

    @include mixins.prefers-reduced-motion {
      transition-property: color, background-color;
      transition-duration: 0.3s;
    }

    @include mixins.hover {
      color: variables.$color-white;
      background-color: variables.$color-hover;
    }

    @media (min-width: #{480 + 0.1px}) {
      inline-size: 60px;
    }

    svg {
      transform: translateX(2.25px);

      @media (min-width: #{480 + 0.1px}) {
        width: 18px;
        height: 22px;
        transform: translateX(3px);
      }
    }
  }

  // .hero-video__badge
  &__badge {
    margin-inline-start: auto;

    .hero-video[data-video="played"] & {
      display: none;
    }
  }
}

.hero-badge {
  position: relative;
  isolation: isolate;
  display: flex;
  align-items: center;
  max-inline-size: 212px;
  min-block-size: 50px;
  padding-block: 5px;
  padding-inline: 65px 9px;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: -0.01em;
  color: variables.$color-white;
  background-color: variables.$color-hover;
  border-radius: 30px;
  overflow: hidden;

  @media (min-width: #{1440 + 0.1px}) {
    padding-inline: 63px 11px;
  }

  @media (max-width: 1200px) {
    display: none;
  }

  // .hero-badge__icon
  &__icon {
    position: absolute;
    inset-block: 0;
    inset-inline-start: 0;
    z-index: -1;
    aspect-ratio: 68 / 49;
    font-size: 0;

    img {
      object-fit: contain;
    }
  }

  // .hero-badge__text
  &__text {
  }
}
