@use "../../../functions/functions";
@use "../../../mixins/mixins";
@use "../../../variables/variables";

.used {
  padding-block: 50px 10px;

  @media (min-width: #{480 + 0.1px}) {
    padding-block-end: 25px;
  }

  // .used__title
  &__title {
    max-inline-size: 685px;
    margin-block-end: 30px;
  }

  // .used__systems
  &__systems {
    margin-block-start: 30px;
  }
}

.used-list {
  display: grid;
  gap: 30px;

  @media (min-width: #{480 + 0.1px}) {
    gap: 10px;
  }

  @media (min-width: #{1024 + 0.1px}) {
    grid-template-columns: repeat(2, 1fr);
  }

  // .used-list__item
  &__item {
  }
}

.used-card {
  display: grid;
  align-items: center;
  gap: 15px;
  block-size: 100%;
  padding: 10px;
  background-color: variables.$color-section-background;
  border: 1px solid rgba($color: variables.$color-aabdf7, $alpha: 0);
  border-radius: 10px;

  @include mixins.prefers-reduced-motion {
    transition-property: border-color;
    transition-duration: 0.3s;
  }

  @include mixins.hover {
    border-color: variables.$color-aabdf7;
  }

  @media (min-width: #{480 + 0.1px}) {
    grid-template-columns: 169px 1fr;
    padding: 5px;
  }

  @media (min-width: #{1200 + 0.1px}) {
    gap: 26px;
  }

  // .used-card__image
  &__image {
    block-size: 219px;
    font-size: 0;
    background-color: variables.$color-white;
    border-radius: 5px;

    img {
      object-fit: contain;
    }
  }

  // .used-card__content
  &__content {
    > *:last-child {
      margin-block-end: 0;
    }
  }

  // .used-card__title
  &__title {
    font-family: variables.$font-inter;
    margin-block-end: 10px;
    font-weight: 700;
    font-size: 20px;
    letter-spacing: -0.01em;
    color: variables.$color-2e2e2e;

    @media (min-width: #{480 + 0.1px}) {
      margin-block-end: 20px;
    }

    a {
      @include mixins.prefers-reduced-motion {
        transition-property: color;
        transition-duration: 0.3s;
      }

      @include mixins.hover {
        color: variables.$color-hover;
      }
    }
  }

  // .used-card__characteristics
  &__characteristics {
    margin-block-end: 20px;

    @media (min-width: #{480 + 0.1px}) {
      margin-block-end: 26px;
    }
  }

  // .used-card__button
  &__button {
    --button-height: 45px;
    --button-gap: 22px;
    --button-width: 155px;
    --button-font-family: #{variables.$font-inter};
    --button-letter-spacing: -0.01em;
    --button-color: #{variables.$color-2e2e2e};
    --button-border-color: rgba(61, 98, 235, 0.2);

    @media (min-width: #{480 + 0.1px}) {
      --button-height: 40px;
    }
  }
}

.used-characteristics {
  display: grid;
  row-gap: 10px;
  column-gap: 15px;
  inline-size: fit-content;
  font-size: 16px;

  @media (min-width: #{1200 + 0.1px}) {
    grid-template-columns: repeat(2, auto);
  }

  @media (min-width: #{1440 + 0.1px}) {
    column-gap: 30px;
  }

  // .used-characteristics__item
  &__item {
    @media (min-width: #{1200 + 0.1px}) {
      display: grid;
      grid-template-columns: subgrid;
      grid-column: span 2;
    }
  }

  // .used-characteristics__label
  &__label {
    font-weight: 600;
  }

  // .used-characteristics__value
  &__value {
  }
}

.used-systems {
  display: grid;
  align-items: center;
  row-gap: 20px;
  column-gap: 61px;

  @media (min-width: #{1200 + 0.1px}) {
    grid-template-columns: 1fr 610px;
  }

  @media (min-width: #{1440 + 0.1px}) {
    column-gap: 40px;
  }

  // .used-systems__text
  &__text {
    font-size: 16px;
    color: variables.$color-404040;

    @media (min-width: #{480 + 0.1px}) {
      font-size: 20px;
    }

    b {
      font-weight: 700;
    }
  }

  // .used-systems__icons
  &__icons {
    display: grid;
    row-gap: 10px;
    column-gap: 3px;
    max-inline-size: 610px;

    @media (min-width: #{480 + 0.1px}) {
      grid-template-columns: repeat(3, 1fr);
    }

    @media (min-width: #{768 + 0.1px}) {
      column-gap: 5px;
    }
  }

  // .used-systems__icon
  &__icon {
    aspect-ratio: 330 / 72.13;
    font-size: 0;

    @media (min-width: #{480 + 0.1px}) {
      aspect-ratio: 200 / 100;
    }

    @media (max-width: 480px) {
      border: 1px solid variables.$color-d8dffb;
      border-radius: 10px;
    }

    img {
      object-fit: contain;
    }
  }
}
