@use "../../functions/functions";
@use "../../mixins/mixins";
@use "../../variables/variables";

.documents {
  padding-block: 10px 25px;

  &:has(.documents__header) {
    padding-block-start: 50px;
  }

  @media (min-width: #{480 + 0.1px}) {
    padding-block-start: 25px;
  }

  // .documents__header
  &__header {
    margin-block-end: 30px;

    > *:last-child {
      margin-block-end: 0;
    }
  }

  // .documents__title
  &__title {
    margin-block-end: 13px;
  }

  // .documents__inner
  &__inner {
    position: relative;
    isolation: isolate;
  }

  // .documents__arrows
  &__arrows {
    position: absolute;
    inset-block-start: 50%;
    inset-inline: 0;
    z-index: 2;
    transform: translateY(-50%);
    pointer-events: none;
  }
}

.documents-info {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  inline-size: fit-content;
  min-block-size: 34px;
  padding-block: 5px;
  padding-inline: 10px;
  font-weight: 500;
  font-size: 14px;
  color: variables.$color-404040;
  text-align: start;
  background-color: variables.$color-white;
  border: 1px solid variables.$color-c5d0f9;
  border-radius: 30px;

  // .documents-info__icon
  &__icon {
    flex: 0 0 auto;
    inline-size: 24px;
    aspect-ratio: 1 / 1;
    font-size: 0;

    img {
      object-fit: contain;
    }
  }

  // .documents-info__text
  &__text {
    b {
      font-weight: 700;
    }
  }
}

.documents-slider {
  inline-size: calc(100% - 40px);
  margin-inline: auto;
  border-radius: 8px;

  @media (min-width: #{480 + 0.1px}) {
    inline-size: calc(100% - 26px);
  }

  @media (min-width: #{768 + 0.1px}) {
    inline-size: calc(100% - 20px);
  }

  @media (min-width: #{1440 + 0.1px}) {
    inline-size: calc(100% - 36px);
  }

  // .documents-slider__wrapper
  &__wrapper {
  }

  // .documents-slider__slide
  &__slide {
    aspect-ratio: 226 / 323;
    font-size: 0;
    border: 0.81px solid variables.$color-e8ecff;
    border-radius: 8px;
  }
}
