@use "../../../functions/functions";
@use "../../../mixins/mixins";
@use "../../../variables/variables";

.dealer {
  padding-block: 50px;
  background-color: variables.$color-f7fcff;

  // .dealer__title
  &__title {
    margin-block-end: 30px;
  }

  // .dealer__items
  &__items {
    display: grid;
    gap: 10px;
  }

  // .dealer__row
  &__row {
    display: grid;
    grid-template-columns: 1fr 350px;
    gap: 10px;

    // .dealer__row--reverse
    &--reverse {
      grid-template-columns: 350px 1fr;
    }
  }

  // .dealer__cards
  &__cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }

  // .dealer__image
  &__image {
    font-size: 0;
    border-radius: 10px;

    // .dealer__image--top
    &--top {
    }

    // .dealer__image--bottom
    &--bottom {
    }
  }
}

.dealer-card {
  block-size: 100%;
  padding: 8px;
  background-color: variables.$color-white;
  border-radius: 10px;

  // .dealer-card__icon
  &__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    inline-size: 39px;
    aspect-ratio: 1 / 1;
    margin-block-end: 13px;
    margin-inline-start: auto;
    font-size: 0;
    color: variables.$color-hover;
    background-color: variables.$color-eff9ff;
    border-radius: 5px;
  }

  // .dealer-card__content
  &__content {
    padding-block-end: 22px;
    padding-inline: 22px;

    > *:last-child {
      margin-block-end: 0;
    }
  }

  // .dealer-card__title
  &__title {
    margin-block-end: 7px;
    font-weight: 700;
    font-size: 20px;
    text-wrap: balance;
    color: variables.$color-404040;
  }

  // .dealer-card__text
  &__text {
  }
}
